# Application
NODE_ENV=development
PORT=3002

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=payment_user
DB_PASSWORD=payment_password
DB_DATABASE=payment_db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Service A URL
AUTH_SERVICE_URL=http://localhost:3001

# Cache Configuration
CACHE_TTL=300

# Logging
LOG_LEVEL=info